/* .p-profiles .profile-head .c-brief .avatar img {
    animation: fly 3s ease-in-out infinite;
}

@keyframes fly {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(12px);
    }
}*/