/* AUTO=sticky_menu */

@media screen and (min-width: 1025px) {
    .l-top_menu-v2 {
        position: sticky;
        top: 0;
    }
    .l-top_menu-v2 .active .submenu {
        max-height: calc(100vh - 46px);
        overflow: auto;
    }
}


/* Main 1 */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Main.css);

/* Main 2*/

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/main2.css);

/* main 3 */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Main3.css);
@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Edit.css);
@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Mainmob.css);
.l-footer:after {
    content: "*Yin Yang*";
}

@media screen and (min-width: 1px) {
    .correct-mob-version {
        color: normal;
    }
}

.shikista {
    color: white;
}

@media screen and (min-width: 1px) {
    html:root {
        --white-color: 219, 219, 219;
        --light-color: 184, 184, 184;
        --dark-color: 155, 155, 155;
        --bright-color: 217, 217, 217;
        --dull-color: 116, 116, 116;
        --input-color: 120, 120, 120;
        --hover-bottoms-1: 43, 43, 43;
        --buttoms-color: 74, 74, 74;
        --hover-buttoms-2: 140, 140, 140;
        --very-high-rating: 156, 156, 156;
        --high-rating: 105, 105, 105;
        --average-rating: 82, 82, 82;
        --small-rating: 64, 64, 64;
        --time-filled: 92, 92, 92;
        --time-empty: 43, 43, 43;
        --anime-inprocess: 69, 146, 76;
        --anime-complete: 41, 107, 47;
        --manga-inprocess: 189, 15, 86;
        --manga-complete: 153, 0, 62;
        --hover-color: 255, 153, 51;
        --shadows-color: 150, 150, 150;
        --block-color: 69, 69, 69;
        --menu-back: 21, 21, 21;
        --nick-cover: 69, 69, 69;
        --popup-color: 39, 39, 39;
        --hundred: 1;
    }
}


/* Custom fixes
.p-profiles .profile-head .c-brief .avatar img {
    animation: fly 3s ease-in-out infinite;
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
}*/


/*Блок с контентом*/

.l-page {
    background: #000;
    /* отклонение от полностью черного = черный фон у PNG*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    opacity: 0.8;
    /*полупрозрачность*/
}


/*Изменение фоновой картинки.*/

body {
    background: fixed url(https://lh3.googleusercontent.com/pw/ACtC-3dnfF4pzr3HZ33ru0blvn2eDx-wwi7Q1znsC-PLHgY_rabfkO3oOeOzRP8lfxRQGM4A9Wrp0HETZo5Fm8W6zDh50NFTAGU_QG2Bc9nADkRecoZ0DQmd1awGSpaRPcYMYgLiYwAmRAkK8jJLS7swH-jy=w1280-h720-no?authuser=0) no-repeat #000 !important;
    background-size: cover !important;
}